{#
/**
 * @file
 * Theme implementation for a 'webform' element.
 *
 * This is an copy of the webform.html.twig theme_wrapper which includes the
 * 'title_prefix' and 'title_suffix' variables needed for
 * contextual links to appear.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the webform.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_webform()
 * @see _webform_form_after_build()
 *
 * @ingroup themeable
 */
#}
<div class="drupal-cms">
  <div class="drupal-container">
    <div class="drupal-box has-form">
        <div class="drupal-title">{{ starshot_quickstart.title }}</div>      
        <div class="drupal-logo">
          {{ drupal_field('field_image', 'node', starshot_quickstart.nodeId, 'widget_embed') }}
        </div>
        <div class="drupal-content">
          <div class="drupal-form">
            <form{{ attributes }}>
              {{ title_prefix }}
              {{ children }}
              {{ title_suffix }}
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
