.box-layout{
  padding: 0px !important;
}

.container{
  margin: 10px auto;
  max-width: 1300px;
}

.container-main {
  @include desktop {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.main-content.has-sidebar {
  @include desktop {
    width: 75%;
    padding-right: 40px;
    float:left;
  }
}
.sidebar-right {
  @include desktop {
    width: 25%;
    float:left;
  }
}

.messages-list [role="alert"] {
  color: red;
  background-color: #f1fbec;
  margin-bottom: 30px;
  padding: 20px;
  border-color: #cce8b3;
}


#block-devpanel-starshot-pagetitle {
  h1 {
    color: #064771;
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    @include font-ubuntu;
    @include desktop {
      font-size: 52px;
      margin-bottom: 70px;
    }
  }
}

.region--primary-menu{
  display: flex;
  flex-direction: row;
}

.navbar-brand {
  @include mobile{
    max-width: 180px;
  }
  object {
    position: relative;
    z-index: -1;
    max-width: 100%;
  }
}

.powered {
  a{
    color: #00D9FF;
  }
}
