#block-devpanel-starshot-primary-local-tasks li {
  display: inline-block;
  padding-right: 10px;
}
nav {
  ol {
    padding: 0px;
    li {
      list-style: none;
    }
  }
}

.view-templates-listing {
  display: grid;
  gap: 40px;
  @include desktop {
    grid-template-columns: auto auto auto;
  }

  @include tablet {
    grid-template-columns: auto auto auto;
  }
  @include mobile {
    grid-template-columns: auto;
  }
  [data-contextual-id],
  header {
      display: none;
  }

  .views-row {
    padding: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.3s ease;
    &:hover{
      box-shadow: 4px 4px 16px 12px rgba(85, 204, 255, 0.16);
    }
  }

  .views-field {
    display: flex;
    justify-content: center; // Center horizontally
    align-items: center; // Center vertically if necessary
    margin-bottom: 10px; // Add margin if needed
  }
  .views-field-field-image {
    background-image: linear-gradient(#FFFFFF, #CBE7FF);
    margin: -16px;
    margin-bottom: 0px;
    padding: 16px;
    img {
      max-width: 100%; // Ensure image scales correctly
      height: auto; // Maintain aspect ratio
      border-radius: 8px;
    }
  }
  .views-field-title h3 {
    font-size: 20px;
    text-align: center !important;
    margin: 0;

    @media screen and (max-width: 575px) {
      font-size: 20px; // Adjust title size for mobile
    }
  }

  .views-field-title a {
    color: #2f2f2f;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      color: #064771;
    }
  }

  .views-field-view-node {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .btn-wrapper {
      margin-top: 0px;
      min-width: 100px;
    }
  }
}

// Mobile-specific styles
@include mobile {
  .view-templates-listing {
    width: 100%;
    margin: 0;

    .views-row {
      width: 100%;
    }

    .views-col {
      padding: 20px; // Reduce padding for mobile
    }

    .views-field img {
      width: 100% !important;
    }

    .views-field-view-node {
      width: unset;
      position: relative;
      a {
        padding: 6px 24px; // Adjust button padding for mobile
      }
    }
  }
  .container-front {
    margin: 20px;
  }
}


#block-devpanel-starshot-views-block-tags-filter-block-1{
  padding: 24px;
  gap: 10px;
  background: #064771;
  border-radius: 12px;

  h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 0;
  }

  a {
    color: white;
  }
}

#block-devpanel-starshot-views-block-sidebar-faq-block-1 {
  padding: 24px;
  gap: 10px;
  border-radius: 12px;
  background-color: #E2F1FE;

  h2 {
    color: black;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
  }

  .ui-accordion-header,
  .ui-accordion-content {
    background: none !important;
    border: none !important;
    height: auto !important;
  }

  .ui-accordion-header.ui-state-active,
  .ui-accordion-header.ui-state-active a {
    color: #002366 !important;
  }
  .views-row {
     border-bottom: 2px solid #aaa;

    .views-field-title {
      position: relative;
      font-weight: bold;
      padding: 10px 0px;
      padding-right: 20px;
      .ui-accordion-header-icon {
        position: absolute;
        right: 0px;
        top: 50%;
      }
    }
    .ui-accordion-content {
      padding: 10px 0px;
    }
    &:last-child {
      border: none;
    }
    .views-field-body * {
      background: transparent !important;
      .modal .modal-content{
        background: #fff !important;
      }
    }
  }
}

.drupal-cms-block {
  @include desktop {
    margin-bottom: 60px !important;
  }
  .drupal-container-block {
    @include desktop {
      display: inline-flex;
      gap: 40px;
      justify-content: flex-start;
    }
    .drupal-box-block {
      @include desktop {
        width: 576px;
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;

    }

    .drupal-description {
      p {
        margin-bottom: 0;
      }

      @include font-ubuntu;
      color: #064771;
      position: relative;
      font-weight: 600;
      @include desktop {
        font-size: 28px;
        line-height: 35px;
        width: 50%;
      }
      @include tablet{
        font-size: 24px;
        line-height: 30px;
        width: 100%;
        text-align: center;
        padding: 30px 10px;
        br {
          display:none;
        }
      }
      @include mobile{
        margin-bottom: 30px;
      }

      .highlight {
        color: #008ECE;
      }
      
      .btn-wrapper {
        left: 0px;
        transform: translateX(0%);
        min-width: 140px;
        margin-right: 30px;
        margin-top: 0px;
      }
    }
  }
}


// Mobile styles
@include mobile {
  .drupal-cms {
    .drupal-container {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 100%;
      height: auto;

      .drupal-box {
        width: 100%;
        padding: 16px;
      }

      .drupal-description {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        width: 100%;

      }
    }
  }
}

.drupal-template-embed {
  @include desktop {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 40px;
  }
  padding: 40px 0px;
  margin: 40px 0px;
  .description-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    padding: 30px 10px;
    h3{
      a {
        color: #064771;
      }
    }
  }
}

.ml12 {
  opacity: 0;
  &.loadded {
    opacity: 1;
  }

  .letter {
    display: inline-block;
    line-height: 1em;
  }
}

.dropdown-menu {
  display: none;
  padding: 20px;
  right: 0px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.block-project-list {
  .tablesort {
    display: none;
  }
}