#block-devpanel-starshot-breadcrumbs {
  nav {
    padding: 10px 0px;
    li {
      display: inline-block;
      padding-right: 10px;
      ::after {
        content: ">";
        margin-left: 10px;
        display: inline-block;
      }
      &:last-child {
        ::after {
          display: none;
        }
      }
    }
  }
}
