.node-templates {
  footer {
    padding: 0px;
  }

  .article-container {
    ul {
      li {
        list-style: circle;
      }
    }
  }
}


@include mobile {
  .node-templates {
    .article-container {
      flex-direction: column;
    }

    .image-container {
      width: 90%;
    }
    .content-container {
      width: 100%;
    }
  }
}

.node--blog.node--view-mode-full {
  max-width: 920px;
  margin: 0 auto;

  .blog__title {
    text-align: center;
    margin-bottom: 24px;
  }

  .blog__tags {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 32px;

    @include mobile {
      margin-bottom: 20px;
    }

    span {
      background: #f0f0f0;
      border-radius: 3px;
      padding: 6px 10px;
      color: #232323;
    }
  }

  .blog__meta {
    text-align: center;
    margin-bottom: 16px;

    .author {
      color: #232323;

      strong {
        text-transform: capitalize;
      }
    }

    .date {
      color: #232323;
    }
  }

  .field--name-body {
    font-size: 20px !important;
    color: #000 !important;

    a {
      color: #000 !important;
      text-decoration: underline;
    }
  }
}

.node--blog.node--view-mode-teaser{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  padding: 15px 15px 50px;
  height: 100%;
  .node--title {
    a, a:hover {
      color: #000;
    }
  }

  .field--name-field-image  {
    margin: -15px;
    margin-bottom: 30px;
  }
  .links.inline {
    padding: 0px;
    position: absolute;
    bottom: 0px;
    a {
      color: #000;
      font-weight: 500;
      &:after {
        content: "";
        margin-left: 10px;
        width: 15px;
        height: 15px;
        vertical-align: middle;
        rotate: -90deg;
        display: inline-block;
        background: url(../../images/icons/svg/Arrow.svg) no-repeat top center/100% auto;
      }
    }
  }
}

.request-template {
  margin: 20px 0px;
  text-align: right;
  .btn-wrapper {
    position: relative;
    left: 0px;
    transform: translateX(0%);
    min-width: 250px;
    margin-top: 0px;
  }
}
#block-devpanel-starshot-drupalcms ~ #block-devpanel-starshot-content {
  .request-template {
    @include desktop { 
      top: 0px;
      position: absolute;
      right: 0px;
    }
  }
}