.waiting-app-ready {
  text-align: center;
  .loading {
    text-align: center;
    .loading-icon {
      width: 200px;
      height: 200px;
      display: inline-block;
      background: url(../../images/icons/loading-animation.gif) no-repeat -82px 2px / 396px;
    }
  }
  .title {
    color: #064672;
  }
}
.submission-view {
  text-align:center;
  .page-title {
    font-size: 36px;
    color: #064672;
  }
  .field--name-field-image {
    img{
      max-width: 200px;
      display: inline-block;
      border-radius: 100%;
      border: 1px solid #064672;
      margin-bottom: 30px;
      box-shadow: 0px 0px 20px #064672;
    }
  }
  .expired {
    font-size: 28px;
    margin-bottom: 30px;
    display: inline-block;
  }
  .info {
    text-align: left;
    max-width: 890px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: auto;
    &.has-workspace,
    &.has-vscode {
      grid-template-columns: auto auto;
    }

    &.has-workspace.has-vscode {
      grid-template-columns: auto auto auto;
    }
    gap: 40px;
    @include mobile {
      grid-template-columns: auto;
      gap: 0px;
    }
    .info-wrapper {
      @include desktop{
        max-width: 270px;
        margin: auto;
      }
    }
    .item-icon {
      margin-right: 10px;
    }
    .info-item {
      display: flex;
      white-space: nowrap;
      justify-content: space-between;
    }
    .inline-item{
      display: inline-block;
      margin-left: auto;
      text-align: right;
    }
    .inline-username input,
    .inline-password input{
      background: transparent;
      border: none;
      padding: 0px 10px;
      min-height: auto;
      width: 110px;
      outline: none;
      text-align: right;
    }
    .inline-password:not(.show) .svg-icon.show {
      display: none;
    }
    .inline-password.show .svg-icon.hide {
      display: none;
    }
    .info-thumnail {
      margin-bottom: 10px;
      min-width: 270px;
    }
    .info-bottom {
      margin-top: 10px;
      font-weight: 500;
    }
    .copy-password,
    .show-password {
      cursor: pointer;
    }
  }
  .warning {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    color: #666;
  }
}


.progress-bar-view{
  position: relative;
  height: 10px;
  width: 100%;
  border: 10px solid #008ECE;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 50px;
  max-width: 500px;

 .color{
    position: absolute;
    background-color: #ffffff;
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progres 4s infinite linear;    
    top: -5px;
    left: 0px;
  }
}
@keyframes progres{
  0%{
    width: 0%;
  }
  25%{
      width: 50%;
  }
  50%{
      width: 75%;
  }
  75%{
      width: 85%;
  }
  100%{
      width: 100%;
  }
};