.trial-form {
  margin: 50px 0px;
  padding: 50px 0px;
  border-top: 1px solid #ccc;
  .grid-column-2 {
    display: grid;
    grid-template-columns: auto auto;
    @include mobile {
      display:block;
    }
  }
  .grid-column-item {
    &.one-item {
      text-align: center;
      .colum-content {
        text-align: left;
        display: inline-block;
      }
    }

    position: relative;
    border-right: 2px solid #ccc;
    padding: 10px 30px;
    padding-bottom: 70px;
    @include mobile {
      width: 100%;
      border: none;
      margin-bottom: 20px;
    }
    &:last-child{
      border:none;
    }
    p {
      margin: 0px;
    }
    .btn-wrapper{
      background: #064771;
      line-height: 24px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10px;
      min-width: 190px;
      text-align: center;
      display: inline-block;
    }

    .item-icon {
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-right: 10px;
      img {
        max-width: 100%;
      }
    }
  }
}
