.recent-subscription-head {
  display: flex;
  justify-content: space-between;
  .all-btn {
    background-color: rgb(99, 91, 255);
    border-radius: 4px;
    color: #fff;
    padding: 10px 10px;
  }
}
.user-page {
  table {
    th:last-child ,
    td:last-child {
      text-align: right;
    }
    @include tablet {
      tr{
        display: block !important;
        td,th {
          display: block;
        }
      }
      th:last-child ,
      td:last-child {
        text-align: left;
      }
    }

  }
 
}