
.view-faq {
  .views-row {
    padding: 10px 0px;
    border-bottom:  1px solid #D5D5D5;
    &:last-child {
      border: none;
    }
  }
  h3 {
    margin-bottom: 0px;
    color: #064771;
  }
}


.view-blog {
  header {
    font-size: 18px;
    text-align: center;
    margin-bottom: 64px;

    @include mobile {
      font-size: 16px;
      margin-bottom: 32px;
    }
  }

  .row-container {
    padding: 0;
    list-style: none;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }

    .field--name-field-image {
      overflow: hidden;

      img {
        transition: 0.3s;

        &:hover {
          transform: scale(1.1);
        }

        @include tablet {
          width: 100%;
        }
      }
    }

    .node--view-mode-teaser:hover {
      .field--name-field-image {
        img {
          transform: scale(1.05);
        }
      }
    }
  }

  .blog-meta {
    .author strong {
      text-transform: capitalize;
    }
  }
}

nav.pager {
  margin: 32px 0;
  text-align: center;

  ul {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
}
