.webform-submission-form {
  max-width: 500px;
  margin: 20px auto;
  text-align: left;
  .form-item {
    margin-bottom: 20px;
  }

  .form-control, .form-select, input, select, textarea{
    border: 1px solid #064771;
    border-radius: 4px;
  }
  .form-checkbox{
    width: inherit;
    margin-right: 10px;
    padding: 12px 12px;
  }
  .captcha{
    display:block;
  }
}
