{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
<div {{ attributes }}>
  <div class="user-page mb-table-responsive">
    <h2> {{ 'Your applications'| t }} </h2>
    {{ drupal_block('project_list') }}

    <div class="row">
      <div class="col-lg-12">
        <div class="recent-subscription-head">
          <h2> {{ 'Recent Subcriptions'| t }} </h2>
          <a class="all-btn" href="/payment/application/all">All Subscriptions</a>
        </div>
        {{ drupal_view('recent_subscription', 'block_1') }}
      </div>
      <div class="col-lg-12">
        <h2> {{ 'Developer Plans'| t }} </h2> 
        <p>If you purchase a Developer Plan, you can keep your development sites indefinitely.</br>
        We offer various Developer Plans to suit your needs</p>
  
        <div class="table-responsive last-right">
          <table class="responsive-enabled table table-striped">
            <thead>
              <tr>
                <th >
                  <p>
                    <strong>Fee/month (month to month)</strong>
                  </p>
                </th>
                <th >
                  <p>
                    <strong>Fee/year (paid annually)</strong>
                  </p>
                </th>
                <th >
                  <p>
                    <strong>Container size</strong>
                  </p>
                </th>
                <th >
                  <p>
                    <strong>Container detail</strong>
                  </p>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p>$0.95</p>
                </td>
                <td>
                  <p>$9.95 (~2 months free)</p>
                </td>
                <td>
                  <p>micro_1</p>
                </td>
                <td>
                  <p>
                    - CPU: 0.25<br>
                    - RAM: 1Gi<br>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>$2.95</p>
                </td>
                <td>
                  <p>$29.95 (~2 months free)</p>
                </td>
                <td>
                  <p>small_1</p>
                </td>
                <td>
                  <p>
                    - CPU: 0.5<br>
                    - RAM: 1Gi<br>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>$4.95</p>
                </td>
                <td>
                  <p>$49.95 (~2 months free)</p>
                </td>
                <td>
                  <p>medium_1</p>
                </td>
                <td>
                  <p>
                    - CPU: 1<br>
                    - RAM: 2Gi<br>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>$9.95</p>
                </td>
                <td>
                  <p>$99.95 (~2 months free)</p>
                </td>
                <td>
                  <p>large_1</p>
                </td>
                <td>
                  <p>
                    - CPU: 2<br>
                    - RAM: 4Gi<br>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
  </div>
</div>
