.view-templates-listing  .views-view-grid__item{
  border: 1px solid #f0f0f0;
  padding: 15px;
}
.view-templates-listing  .views-view-grid__item{
  position: relative;
  padding-bottom: 50px;
}
.view-templates-listing  .views-view-grid__item:hover{
  border-color: rgb(43, 53, 59);
}

.view-templates-listing .views-field-view-node {
  text-transform: uppercase;
}

iframe {
  max-width: 100%;
}

.container-frontpage {
  padding: 60px;
}


/* .region--footer-bottom.grid-full{


}
.region--footer-bottom.grid-full > *{
  grid-column: inherit;
} */

.site-branding {
  background: #fff !important;
}
.site-header__initial{
  background: #f8f8f8 !important;
}
