.webform-submission-add-form  .form-element{
  width: 100%;
}

.webform-element-help--content a,
.webform-element-help--content a:hover {
  color: inherit;
  text-decoration: underline;
}

.webform-submission-form .form-item__description {
  max-width: 100%;
}
.webform-submission-form .StripeElement {
  border:  none;
  margin: 0px;
  padding: 0px;
}

.submission-view .submission {
  grid-column: 1 / 12;
  align-self: flex-start;
}
.submission-view .sidebar {
  grid-column: 12 / 15;
  text-align: center;;
}
.submission-view .sidebar h3{
  margin-top: 0px;
}
.submission-view .sidebar .countdown {
  font-size: 36px;
  font-weight: bold;
}

.submission-view .sidebar .countdown.expired {
  font-size: inherit;
}
.webform-submission-trial-form {
  text-align: center;
  position: inherit;
}
.webform-submission-trial-form ._btn {
  display: inline-block;
}
.webform-submission-trial-form .form-actions {
  display: block;
}
fieldset.captcha{
  padding: 0px;
  border: none;
  outline: none;
  display: inline-block;
}
fieldset.captcha .captcha__title {
  display: none;
}
.ui-dialog{
  padding: 0px;
  background: #fff !important;
}
.ui-dialog .ui-dialog-titlebar{
  padding: 0px 20px !important;
}
.ui-dialog .ui-dialog-titlebar,
.ui-dialog-title {
  background: #1433ca !important;
  margin: 0px;
  color: #fff;
  border: none;
}
.ui-dialog-title {
  padding: 20px 0px;
  text-transform: uppercase;
}

#modal-content {
  display: none;
  padding: 20px;
}
.ui-dialog #modal-content {
  display: block;
}
#modal-content .g-recaptcha {
  display: inline-block;
}
.ui-widget-overlay {
  background: #333 !important;
}

.ui-accordion-header-icon {
  display: inline-block !important;
  margin-right: 10px;
}
.ui-state-active, .ui-widget-content .ui-state-active {
  color: #fff !important;
}
