body {
  margin-inline-start: 0px !important;
  background: none;
}

.skip-link {
  display: none;
}
iframe {
  max-width: 100%;
}

.g-recaptcha > div {
  width: auto !important;
}
webform-component {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.drupal-cms .drupal-container .drupal-box {
  display: grid;
  background-color: #064771;
  border-radius: 24px;
  box-shadow: 4px 4px 16px 12px rgba(85, 204, 255, 0.16);
  min-height: 260px;
  padding: 20px 28px;
  overflow: hidden;
  grid-template-columns: 100px 1fr;
}

.drupal-cms .drupal-container .drupal-box .drupal-logo {
  width: 85px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.drupal-cms .drupal-container .drupal-box .drupal-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.drupal-cms .drupal-container .drupal-box .drupal-content .drupal-form {
  width: 100%;
  max-width: 290px;
}
.drupal-cms .drupal-container .drupal-box .drupal-content .drupal-caption {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2f2f2f;
  line-height: 24px;
}
.drupal-cms .drupal-container .drupal-box .drupal-content .drupal-button {
  position: relative;
  width: 196px;
  height: 44px;
}
.drupal-cms
  .drupal-container
  .drupal-box
  .drupal-content
  .drupal-button
  .button-outline {
  position: absolute;
  top: 4px;
  left: 0;
  width: 189.47px;
  height: 40px;
  border: 2px solid #fcfcfc;
  border-radius: 4px;
}
.drupal-cms
  .drupal-container
  .drupal-box
  .drupal-content
  .drupal-button
  .button-content {
  position: absolute;
  top: 0;
  left: 6.53px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 189.47px;
  height: 40px;
  background-color: #fcfcfc;
  border: 2px solid #fcfcfc;
  border-radius: 4px;
  padding: 8px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #064771;
  line-height: 24px;
}
.drupal-cms .drupal-container .drupal-title {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 36px;
  padding: 20px 0px;
  grid-column-start: 1;
  grid-column-end: 3;
  display: inline-grid;
  text-align: left;
}

.drupal-cms .drupal-container .drupal-description {
  display: none;
}

.drupal-cms .drupal-container .toggle-developer {
  display: flex;
}

.drupal-cms .drupal-container .form-switch {
  display: flex;
  gap: 2.5rem;
  color: #fff;
}

.drupal-cms .drupal-container .form-switch input {
  border: 1px solid #fff;
}

.drupal-cms .drupal-container .drupal-available {
  color: #fff;
  display: grid;
  width: 100%;
  grid-template-columns: 90px 1fr;
  position: relative;
  padding: 15px 20px;
}

.drupal-cms .drupal-container .drupal-time-expired-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  color: #fff;
}

.drupal-time-expired-wrapper .time-expired {
  display: flex;
  gap: 5px;
}

.drupal-time-expired-wrapper .embed-info .info-item {
  display: flex;
}

.embed-info .info-item .embed-description {
  max-width: 150px;
  line-height: 1.2rem;
}

.drupal-time-expired-wrapper .embed-info .item-icon img {
  max-width: 40px;
}

.embed-info .embed-description p {
  font-size: 13px;
  margin-bottom: 0;
}

.embed-info .embed-description a {
  text-decoration: underline;
  color: #fff;
}

.drupal-cms .drupal-container .toggle-developer--wrapper {
  /*padding: 20px;*/
}

.drupal-cms .drupal-container .drupal-available .info {
  text-align: left;
}
.drupal-cms .drupal-container .drupal-available .info img {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 5px;
}
.drupal-cms .drupal-container .drupal-available .info-item {
  display: flex;
  white-space: nowrap;
}

.drupal-cms .drupal-container .drupal-available .inline-item {
  display: inline-block;
  margin-left: auto;
  text-align: right;
}
.drupal-cms .drupal-container .drupal-available .drupal-logo {
  width: 75px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.drupal-cms
  .drupal-container
  .drupal-available
  .inline-password:not(.show)
  .svg-icon.show {
  display: none;
}
.drupal-cms
  .drupal-container
  .drupal-available
  .inline-password.show
  .svg-icon.hide {
  display: none;
}
.drupal-cms .drupal-container .drupal-available .inline-username input,
.drupal-cms .drupal-container .drupal-available .inline-password input {
  background: transparent;
  color: #fff;
  border: none;
  padding: 0px 10px;
  min-height: auto;
  width: 64px;
  outline: none;
  text-align: right;
}
.drupal-cms .drupal-container .drupal-available .inline-item input {
  text-align: right;
  transition: none;
}
.drupal-cms .drupal-container .drupal-available .inline-item.show input {
  width: calc(100% - 41px);
}
.drupal-cms .drupal-container .drupal-available .inline-username input {
  width: 100px;
}
.drupal-cms .drupal-container .drupal-available .show-password {
  display: inline-block;
}
.drupal-cms .drupal-container .drupal-available svg {
  cursor: pointer;
}
.drupal-cms .drupal-container .drupal-available a {
  text-decoration: underline;
  color: #fff !important;
  box-shadow: none;
}
.drupal-cms .drupal-container .captcha {
  width: 100%;
  height: 44px;
  overflow: hidden;
  border-radius: 4px;
  padding: 0px;
  margin: 0px;
  border: none;
}

.drupal-cms .drupal-container .captcha .captcha__element {
  margin-top: -14px;
}
.drupal-cms .drupal-container .captcha__title.js-form-required.form-required {
  display: none;
}
.drupal-cms .drupal-container .btn-wrapper,
.drupal-cms .drupal-container .btn-wrapper-save {
  margin-top: 12px;
  background-color: #fff;
  border-radius: 4px;
  color: #064771;
  line-height: 24px;
  position: relative;
  width: 100%;
  text-align: left;
}
.drupal-cms .drupal-container .btn-wrapper::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url("../../../devpanel_starshot/images/icon-launch.png") no-repeat
    center center;
  margin-left: 10px;
  vertical-align: middle;
}
.drupal-cms .drupal-container .btn-wrapper-save::before {
  content: "";
  width: 20px;
  height: 23px;
  display: inline-block;
  background: url("../../../devpanel_starshot/images/icon-save.png") no-repeat
    center center;
  margin-left: 10px;
  vertical-align: middle;
}
.drupal-cms .drupal-container .btn-wrapper::after,
.drupal-cms .drupal-container .btn-wrapper-save::after {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid #fff;
}
.drupal-cms .drupal-container .btn-wrapper ._btn,
.drupal-cms .drupal-container .btn-wrapper-save ._btn {
  width: auto;
  color: #064771 !important;
  margin: 0px;
}
.drupal-cms .drupal-container .btn-wrapper-save ._btn {
  width: calc(100% - 35px);
  text-align: left;
}
.drupal-cms .drupal-container .info-h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 0;
}
.drupal-cms .drupal-container .drupal-available .inline-message {
  display: block;
  position: absolute;
  top: 0px;
  margin: 0px;
  height: inherit;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .drupal-cms .drupal-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: auto;
  }
  .drupal-cms .drupal-container .drupal-box {
    width: 100%;
    padding: 16px;
  }
  .drupal-cms .drupal-container .drupal-description {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
  }
}

.btn-wrapper,
.btn-wrapper-save {
  margin-top: 30px;
  border-radius: 4px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: #064771;
  line-height: 24px;
  min-width: 190px;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
}
.btn-wrapper::after,
.btn-wrapper-save::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid #064771;
  border-radius: 4px;
  left: -5px;
  top: 5px;
  position: absolute;
  z-index: -1;
  transition: all 0.1s ease-in-out;
}
.btn-wrapper:hover::after,
.btn-wrapper-save:hover::after {
  left: -3px;
  top: 3px;
}
.btn-wrapper ._btn,
.btn-wrapper-save ._btn {
  display: inline-block;
  border: none;
  background: transparent;
  padding: 10px 0px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.btn-wrapper a._btn,
.btn-wrapper-save a._btn {
  width: 100%;
}

.visually-hidden {
  display: none;
}

[role="alert"] {
  color: #fff;
  padding: 10px 20px;
}
#block-starshort-embed-page-title {
  display: none;
}

/* Reposition RecaptchaV2 on mobile using z-index as selector */
@media (max-width: 768px) {
  div[style*="z-index: 2000000000;"] {
    left: 0 !important;
    right: 0 !important;
    top: 1rem !important;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 12px;
  }

  /* Hide the bubble arrow */
  .g-recaptcha-bubble-arrow {
    display: none !important;
  }
}
@media (max-width: 468px) {
  .drupal-cms .drupal-container .drupal-available {
    display: block;
  }
  .drupal-cms .drupal-container .drupal-available .drupal-logo {
    display: none;
  }
}
.waiting-app-ready {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

webform-component[templateid="73"] {
  .drupal-logo {
    img {
      background: #fff;
    }
  }
}
