.btn-wrapper{
  margin-top: 30px;
  border-radius: 4px;
  @include font-ubuntu;
  font-size: 16px;
  background: #064771;
  line-height: 24px;
  min-width: 190px;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
  &::after {
    content:"";
    width: 100%;
    height:100%;
    display: block;
    border: 1px solid #064771;
    border-radius: 4px;
    left: -5px;
    top: 5px;
    position: absolute;
    z-index: -1;
    transition: all .3s ease;
  }
  &:hover {
    &::after {
      left: -3px;
      top: 3px;
    }
  }
  ._btn{
    display: inline-block;
    border: none;
    background: transparent;
    padding:10px 0px;
    @include font-ubuntu;
    font-size: 16px;
    color: #fff;
    width: 100%;
  }
  a._btn{
    width: 100%;
  }
}

._btn.dropdown-toggle {
  border: none;
  background-color: rgb(99, 91, 255);
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  min-width: 90px;
}
._btn.actions {
  background-color: rgb(99, 91, 255);
  border-radius: 4px;
  color: #fff;
  padding: 5px 10px;
  min-width: 90px;
  display: inline-block;
  text-align: center;
}