@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
// Front
@mixin font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

// media devices
@mixin desktop {
  @media screen and (min-width: 1200px) {
      @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 1200px) {
      @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 767px) {
      @content;
  }
}
:root {
  --animate-duration: 800ms;
  --animate-delay: 2s;
}
body {
  font-family: "Roboto", sans-serif;
}
.ui-widget {
  font-family: inherit;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #064771;
  line-height: inherit;
  margin-bottom: 20px;
  font-weight: 500;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
.clearfix {
  &:before,
  &:after,
  {
    content: "";
    display: table;
  }
}


table tr th, table tr th a, table tr th a:hover, table tr th a:focus{
  color: inherit;
  background: transparent;
  font-weight: 500;
}

.table-responsive {
  @include desktop {
    overflow-x: visible;
  }
  thead th {
    color: #333;
    background: #eee;
    text-transform: uppercase;
    @include font-ubuntu;
    strong {
      @include font-ubuntu;
    }
  }
  tbody>tr,
  tbody>tr:nth-of-type(odd)> * {
    background: transparent;
    --bs-table-bg-type: transparent;
  }
  thead th,
  tbody tr td{
    border:none;
    border-bottom: 1px solid #eee;
  }
  tbody tr:hover td{
    background: #f3f3f3;
  }
 
 
}
.mb-table-responsive{
  .table-responsive {
    display:none;
  }
  .mb-display {
    display: none;
  }
  @include mobile {
    thead{
      display: none;
    }
    .mb-display {
      display:inline-block;
    }
    .mb-align-left{
  
    }
    .mb-align-right{
      float: right;
    }
    tbody{
      tr {
        border-bottom: 2px solid #ccc;
        margin-bottom: 20px;
        padding-bottom: 20px;
        td{
          background: transparent !important;
          &:last-child {
            border:none;
          }
        }
        &:last-child{
          border: none;
        }
      }
    }
  }
  
}

@media (min-width: 1200px) {
  legend {
    font-size: 18px;
    color: #064771;
    @include font-ubuntu;
  }
}
.button-a {
  padding: 8px 32px;
  background-color: #064771;
  color: white;
  border-radius: 4px;
}

.ui-accordion {
  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: none;
    background: none;
    color: inherit;
  }
  .ui-accordion-header {
    background: none;
    border: none;
    padding: 10px 0px;
    position: relative;
    padding-right: 20px;
    .ui-accordion-header-icon {
      position: absolute;
      right: 20px;
      rotate: -90deg;
      transition: all .1s ease-in-out;
      background: url(../../images/icons/svg/Arrow.svg) no-repeat top center/100% auto;
    }
    &.ui-accordion-header-active {
      .ui-accordion-header-icon {
        rotate: 0deg;
      }
    }
  }
  .ui-accordion-content{
    border: none;
    padding: 10px 0px;
    transition: all .1s ease-in-out;
  }
  .ui-accordion-header,
  .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #4F4F4F;
    font-weight: bold;
  }
}

iframe {
  width: 100%;
}
