footer {
  background-color: #222222;
  color: white;
  padding: 20px 0;

  a {
    color: white;
  }

  a:hover {
    color: #00D9FF;
    text-decoration: none;
  }

  input[type="email"] {
    color: white;
    background-color: transparent;
    border: 1px solid white;
  }

  button.submit {
    color: white;
  }

  button.submit:hover {
    color: #00D9FF;
  }

  form input[type="email"] {
    border-radius: 20px !important;
    background-color: white !important;
    width:650%;
  }

  form button.submit {
    border-radius: 0 20px 20px 0 !important;
    background-color: #008ECE;
    color: white;
    width:35%;
  }

  form button.submit:hover {
    background-color: #008ECE;
    color: white;
  }
}
