.placeholder{
  background: none;
}

#starshot-sso-login {
  .btn-wrapper{
    margin-top: 0px;
    min-width: 80px;
    &:after {
      display: none;
    }
    ._btn{

    }
  }
}

.stripe-payment-form-wrapper {
  ._form-wrapper {
    border: 1px solid #ddd;
    border-radius: 6px;

  }
  .fieldgroup {
    padding: 20px;
    border-bottom:  1px solid #ddd;
    &:last-of-type {
      border: none;
    }
  }
  .form-actions {
    width: 100%;
  }
  .btn-wrapper {
    margin-top: 30px;
    width: 100%;
  }
  .form-radio {
    padding: 0px;
  }

}

.starshot-stripe-cancel-subsription {
  text-align: center;
  .btn-wrapper {
    left: 0px;
  }
}