.page-header{
  &.highlighted {
    border: none;
    .navbar{
      position: absolute !important;
      .navbar-toggler-line {
        background: #fff;
      }
      .logo-text {
        fill: #FFFFFF;
      }
      a{
        color: #FFFFFF;
      }
    }
  }
  border-bottom: 1px solid #ddd;
  .disable-fixed {
    position: relative;
  }
  .navbar-brand
  {
    padding: 10px 0px;
    img {
      max-height: 80px;
    }
  }

}
.top-space-margin{
  margin-top: 0px !important;
}

.page-header {
  position: relative;
  min-height: 100px;
}

.sso-account {
  position: relative;
  .svg-icon {
    border: 2px solid #064771;
    border-radius: 100%;
    cursor: pointer;
  }
  &.show {
    .account-info {
      opacity: 1;
      z-index: 1;
    }
  }
  @include tablet {
    .svg-icon {
  
    }
  }
  .account-info {
    opacity: 0;
    z-index: -1;
    font-size: 13px;
    transition: all 0.5s ease;
    position: absolute;
    top: 100%;
    right: 0px;
    width: 100vw;
    max-width: 230px;
    background: #064771;
    color: #fff;
    padding: 20px;
    margin-top: 10px;
    &:before {
      content: "";
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #064771 transparent;
      transform: rotate(0deg);
      position: absolute;
      right: 14px;
      top: -10px;
    }
    a {
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
    @include tablet {
      opacity: 1;
      z-index: 1;
      color: #fff;
      background: none;
      top: 0px;
      margin-top: 0px;
      padding: 0px;
      text-align: right;
      &:before {
        display: none;
      }
    }
  }
}
#block-devpanel-starshot-account-block {
  .contextual {
    display: none;
  }
}
