.navbar-toggler {

}
.navbar {
  position: relative !important;
  .navbar-collapse {
    @include mobile {
      display: block !important;
      height: 0px;
      transition: height 0.2s ease;
    }
    &.show {
      background: #E2F1FE;
      a {
        color: #000 !important;
      }
      height: 100vh;
    }
  }
}