.stripe-payment-form {
max-width: 656px;
}
.stripe-payment-form .nav li {
  border: 2px solid #eee;
  margin-right: 10px;
  border-radius: 8px;
}
.stripe-payment-form .nav .nav-link {
  padding: 0px 10px;
  color: #555;
}
.stripe-payment-form .nav .nav-item.active{
  border: 2px solid #10111a;
}


.stripe-payment-form .pricing-table {
  display: flex;

  margin-top: 32px;
}

.stripe-payment-form .pricing-card {
  border: 2px solid transparent;
  padding: 24px;
  border-radius: 12px;
  min-height: 321px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33%;
}
.stripe-payment-form .pricing-card .name {
  font-size: 20px;
}
.stripe-payment-form .pricing-card .amount{
  font-size: 20px;
}
.stripe-payment-form .pricing-card.active{
  border-color:  #099592;
}

.stripe-payment-form  .pricing-card .select-card {
  border: 1px solid #d8dee4;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.stripe-payment-form  .pricing-card.active .select-card{
  color: #099592;
  font-weight: 500;
}
.stripe-payment-form  .pricing-card .select-card svg{
  visibility: hidden;
}
.stripe-payment-form  .pricing-card.active .select-card svg{
  visibility: visible;
}

.stripe-payment-form .subtotal {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
.stripe-payment-form .form-actions {
  text-align: right;
}
.stripe-payment-form .form-actions .btn-wrapper{
  left: 0px;
  transform: translateX(0%);
  background:  #099592;
  color: #fff;
}
.stripe-payment-form .form-actions .btn-wrapper::after {
  display: none;
}
.display-none {
  display:none;
}
@media screen and (max-width: 768px) {
  .stripe-payment-form .pricing-table{
    flex-direction: column;
  }
  .stripe-payment-form .pricing-card {
    width: 100%;
    min-height: auto;
  }
  .stripe-payment-form .pricing-card .amount{
    display: inline-block;
  }
}