<div class="drupal-cms-block">
  <div class="drupal-container-block">
    <div class="drupal-box-block">
      <webform-component host="{{ widget.host }}"
        {% if widget.templateId %} templateId="{{ widget.templateId }}" {% endif%}
        {% if widget.reference %} reference="{{widget.reference }}" {% endif%}>
      </webform-component>
      {{ attach_library('starshot_core/webform-component') }}
    </div>
    <div class="drupal-description">
      {% if widget.body is not empty %}
        {{ widget.body|raw }}
      {% else %}
        <span class="ml12">Create disposable</span><br>
        <span class="ml12">Drupal dev sites with</span><br>
        <span class="ml12">Cloud IDE - in less</span><br>
        <span class="ml12">than 10 seconds.</span><br>
        <span class="ml12">All for FREE!</span><br>
      {% endif %}
    </div>
  </div>
</div>
