<div style="background-color:#f7f5fa;margin:0!important;padding:0!important">
  <div class="adM">
  </div>
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
      <tr>
        <td bgcolor="#1c5596" align="center">
          <table border="0" cellpadding="0" cellspacing="0" >
            <tbody>
              <tr>
                <td align="center" valign="top" style="padding:40px 10px 40px 10px">
                  <div style="display:block" border="0">
                    <h1 style="font-size:32px;font-weight:400;margin:0;font-family:Helvetica,Arial,sans-serif;color:#ffffff">{{ site_name }}</h1>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#f4f4f4" align="center" style="padding:30px">
          <table border="0" cellpadding="0" cellspacing="0" width="720">
            <tbody>
              <tr>
                <td bgcolor="#ffffff" align="left">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td colspan="2" style="padding:30px;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:25px">
                          {{ body | raw }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#f4f4f4" align="center" style="padding:0px 10px 0px 10px">
          <table border="0" cellpadding="0" cellspacing="0" >
            <tbody>
              <tr>
                <td bgcolor="#f4f4f4" align="left" style="padding:15px 15px 315px 15px;color:#666666;font-family:Helvetica,Arial,sans-serif;font-size:12px;font-weight:350;line-height:14px">
                  <p style="margin:0"><a href="https://www.drupalforge.org" target="_blank">DrupalForge.org</a> is a Community Service Project of <a href="https://www.devpanel.com" target="_blank">DevPanel.com</a></p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="yj6qo"></div>
  <div class="adL">
  </div>
</div>
