<div class="drupal-cms">
  <div class="drupal-container">
    {# Application Informatons  #}
    <div class="drupal-available" data-template-id="{{ startshot_available.templateId}}" data-submission-id="{{ startshot_available.submission_id}}">
      <div class="drupal-title">{{ startshot_available.templateTitle }}</div>
      <div class="drupal-logo">
        {{ drupal_field('field_image', 'node', startshot_available.templateId, 'widget_embed') }}
      </div>
      {% if startshot_available.isActive %}
        <div class="info">
          <div class="info-item">
            <span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Link.png"></span>Application URL:&nbsp
            <div class="inline-item">
              <a href="{{ startshot_available.applicationURL }}" target="_blank"> Click here</a>
              <svg color="#ffffff" fill="#ffffff" viewBox="0 0 24 18" height="1.3em" width="1.3em" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path d="M19 19H5V5h7V3H5a2 2 0 00-2 2v14a2 2 0 002 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path></svg>
            </div>
          </div>

          {% if startshot_available.workspaceUrl is not empty %}
          <div class="info-item">
            <span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Link.png"></span>Workspace URL:&nbsp
            <div class="inline-item">
              <a href="{{ startshot_available.workspaceUrl }}" target="_blank"> Click here</a>
              <svg color="#ffffff" fill="#ffffff" viewBox="0 0 24 18" height="1.3em" width="1.3em" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path d="M19 19H5V5h7V3H5a2 2 0 00-2 2v14a2 2 0 002 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path></svg>
            </div>
          </div>
          {% endif %}

          {% if startshot_available.username and  startshot_available.password %}
            <div class="info-item">
              <span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Link.png"></span>Login URL:&nbsp
              <div class="inline-item">
                <a href="{{ startshot_available.loginUrl }}" target="_blank">Click here</a>
                <svg color="#ffffff" fill="#ffffff" viewBox="0 0 24 18" height="1.3em" width="1.3em" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path d="M19 19H5V5h7V3H5a2 2 0 00-2 2v14a2 2 0 002 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path></svg>

              </div>
            </div>
          {% endif %}
          {% if startshot_available.username %}
            <div class="info-item">
              <span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Person.png"></span>User name:&nbsp
              <div class="inline-item inline-username ">
                <input type="text" value="{{ startshot_available.username }}"/>
                <span class="copy-username">
                  <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="copy" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M832 64H296c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h496v688c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8V96c0-17.7-14.3-32-32-32zM704 192H192c-17.7 0-32 14.3-32 32v530.7c0 8.5 3.4 16.6 9.4 22.6l173.3 173.3c2.2 2.2 4.7 4 7.4 5.5v1.9h4.2c3.5 1.3 7.2 2 11 2H704c17.7 0 32-14.3 32-32V224c0-17.7-14.3-32-32-32zM350 856.2L263.9 770H350v86.2zM664 888H414V746c0-22.1-17.9-40-40-40H232V264h432v624z"></path></svg>
                </span>
              </div>
            </div>
          {% endif %}
          {% if startshot_available.password %}
            <div class="info-item">
              <span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Lock.png"></span>Password:&nbsp
              <div class="inline-item inline-password ">
                <input type="password" value="{{ startshot_available.password }}"/>
                <span class="show-password">
                  <svg viewBox="64 64 896 896" focusable="false" class="svg-icon hide" data-icon="eye" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"></path></svg>
                  <svg viewBox="64 64 896 896" focusable="false" class="svg-icon show" data-icon="eye-invisible" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M942.2 486.2Q889.47 375.11 816.7 305l-50.88 50.88C807.31 395.53 843.45 447.4 874.7 512 791.5 684.2 673.4 766 512 766q-72.67 0-133.87-22.38L323 798.75Q408 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 0 0 0-51.5zm-63.57-320.64L836 122.88a8 8 0 0 0-11.32 0L715.31 232.2Q624.86 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 0 0 0 51.5q56.69 119.4 136.5 191.41L112.48 835a8 8 0 0 0 0 11.31L155.17 889a8 8 0 0 0 11.31 0l712.15-712.12a8 8 0 0 0 0-11.32zM149.3 512C232.6 339.8 350.7 258 512 258c54.54 0 104.13 9.36 149.12 28.39l-70.3 70.3a176 176 0 0 0-238.13 238.13l-83.42 83.42C223.1 637.49 183.3 582.28 149.3 512zm246.7 0a112.11 112.11 0 0 1 146.2-106.69L401.31 546.2A112 112 0 0 1 396 512z"></path><path d="M508 624c-3.46 0-6.87-.16-10.25-.47l-52.82 52.82a176.09 176.09 0 0 0 227.42-227.42l-52.82 52.82c.31 3.38.47 6.79.47 10.25a111.94 111.94 0 0 1-112 112z"></path></svg>
                </span>
                <span class="copy-password">
                  <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="copy" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M832 64H296c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h496v688c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8V96c0-17.7-14.3-32-32-32zM704 192H192c-17.7 0-32 14.3-32 32v530.7c0 8.5 3.4 16.6 9.4 22.6l173.3 173.3c2.2 2.2 4.7 4 7.4 5.5v1.9h4.2c3.5 1.3 7.2 2 11 2H704c17.7 0 32-14.3 32-32V224c0-17.7-14.3-32-32-32zM350 856.2L263.9 770H350v86.2zM664 888H414V746c0-22.1-17.9-40-40-40H232V264h432v624z"></path></svg>
                </span>
              </div>
            </div>
          {% endif %}
        </div>
      {% else %}
        <div class="waiting-app-ready" data-application-submission="/submission/{{ startshot_available.submission_id }}/status?applicationURL={{ startshot_available.applicationURL }}">
          <p>
            <br>
            Please wait a few minutes while your application loads.
          </p>
        </div>
      {% endif %}
    </div>

    {# Toggle Cloud Informatons  #}
    {% if startshot_available.isActive %}
      <div class="drupal-available toggle-developer--wrapper" data-template-id="{{ startshot_available.templateId}}" data-submission-id="{{ startshot_available.submission_id}}">
        <div class="toggle-developer">
          <div class="form-check form-switch">
            <label>
              <input class="form-check-input" type="checkbox" role="switch" id="toggle-developer">
            </label>
          </div>
        </div>

        <div class="info">
          <h3 class="info-h3">Cloud Dev Environment</h3>
        </div>
      </div>
    {% endif %}

    {# Show Cloud Informatons  #}
    {% if startshot_available.isActive %}
      <div class="drupal-available drupal-available__for-developer" data-template-id="{{ startshot_available.templateId}}" data-submission-id="{{ startshot_available.submission_id}}">
        <div class="drupal-logo">
          <svg class="icon-vscode" xmlns="http://www.w3.org/2000/svg" width="75px" height="75px" viewBox="0 0 32 32"><title>file_type_vscode</title><path d="M29.01,5.03,23.244,2.254a1.742,1.742,0,0,0-1.989.338L2.38,19.8A1.166,1.166,0,0,0,2.3,21.447c.025.027.05.053.077.077l1.541,1.4a1.165,1.165,0,0,0,1.489.066L28.142,5.75A1.158,1.158,0,0,1,30,6.672V6.605A1.748,1.748,0,0,0,29.01,5.03Z" style="fill:#0065a9"/><path d="M29.01,26.97l-5.766,2.777a1.745,1.745,0,0,1-1.989-.338L2.38,12.2A1.166,1.166,0,0,1,2.3,10.553c.025-.027.05-.053.077-.077l1.541-1.4A1.165,1.165,0,0,1,5.41,9.01L28.142,26.25A1.158,1.158,0,0,0,30,25.328V25.4A1.749,1.749,0,0,1,29.01,26.97Z" style="fill:#007acc"/><path d="M23.244,29.747a1.745,1.745,0,0,1-1.989-.338A1.025,1.025,0,0,0,23,28.684V3.316a1.024,1.024,0,0,0-1.749-.724,1.744,1.744,0,0,1,1.989-.339l5.765,2.772A1.748,1.748,0,0,1,30,6.6V25.4a1.748,1.748,0,0,1-.991,1.576Z" style="fill:#1f9cf0"/></svg>
        </div>
          <div class="info">
            {% if startshot_available.vscodeURL %}
              <div class="info-item">
                <span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Link.png"></span>Open VS Code:
                <div class="inline-item">
                  <a href="{{ startshot_available.vscodeURL }}" target="_blank"> Click here</a>
                  <svg color="#ffffff" fill="#ffffff" viewBox="0 0 24 18" height="1.3em" width="1.3em" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path d="M19 19H5V5h7V3H5a2 2 0 00-2 2v14a2 2 0 002 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path></svg>
                </div>
              </div>
            {% endif %}
            {% if startshot_available.vscodePassword %}
              <div class="info-item">
                <span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Lock.png"></span>Password:
                <div class="inline-item inline-password ">
                  <input type="password" value="{{ startshot_available.vscodePassword }}"/>
                  <span class="show-password">
                      <svg viewBox="64 64 896 896" focusable="false" class="svg-icon hide" data-icon="eye" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"></path></svg>
                      <svg viewBox="64 64 896 896" focusable="false" class="svg-icon show" data-icon="eye-invisible" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M942.2 486.2Q889.47 375.11 816.7 305l-50.88 50.88C807.31 395.53 843.45 447.4 874.7 512 791.5 684.2 673.4 766 512 766q-72.67 0-133.87-22.38L323 798.75Q408 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 0 0 0-51.5zm-63.57-320.64L836 122.88a8 8 0 0 0-11.32 0L715.31 232.2Q624.86 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 0 0 0 51.5q56.69 119.4 136.5 191.41L112.48 835a8 8 0 0 0 0 11.31L155.17 889a8 8 0 0 0 11.31 0l712.15-712.12a8 8 0 0 0 0-11.32zM149.3 512C232.6 339.8 350.7 258 512 258c54.54 0 104.13 9.36 149.12 28.39l-70.3 70.3a176 176 0 0 0-238.13 238.13l-83.42 83.42C223.1 637.49 183.3 582.28 149.3 512zm246.7 0a112.11 112.11 0 0 1 146.2-106.69L401.31 546.2A112 112 0 0 1 396 512z"></path><path d="M508 624c-3.46 0-6.87-.16-10.25-.47l-52.82 52.82a176.09 176.09 0 0 0 227.42-227.42l-52.82 52.82c.31 3.38.47 6.79.47 10.25a111.94 111.94 0 0 1-112 112z"></path></svg>
                    </span>
                  <span class="copy-password">
                      <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="copy" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M832 64H296c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h496v688c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8V96c0-17.7-14.3-32-32-32zM704 192H192c-17.7 0-32 14.3-32 32v530.7c0 8.5 3.4 16.6 9.4 22.6l173.3 173.3c2.2 2.2 4.7 4 7.4 5.5v1.9h4.2c3.5 1.3 7.2 2 11 2H704c17.7 0 32-14.3 32-32V224c0-17.7-14.3-32-32-32zM350 856.2L263.9 770H350v86.2zM664 888H414V746c0-22.1-17.9-40-40-40H232V264h432v624z"></path></svg>
                    </span>
                </div>
              </div>
            {% endif %}
          </div>
      </div>
    {% endif %}

    {# Expired time #}
    {% if startshot_available.isActive %}
      <div class="drupal-time-expired-wrapper" data-template-id="{{ startshot_available.templateId}}" data-submission-id="{{ startshot_available.submission_id}}">
        <div class="time-expired">
          <span class="item-icon">
            <img src="/themes/custom/devpanel_starshot/images/icons/Clock.png">
          </span>
          <span class="item-text">Time remaining: </span>
          <div class="inline-item countdown" expired="{{ startshot_available.expiredTime }}"></div>
        </div>
        {% if startshot_available.vscodePassword and startshot_available.embedDescription is not empty %}
          <div class="info embed-info">
            <div class="info-item">
              <div class="embed-description">
                {{ startshot_available.embedDescription | raw }}
              </div>
              <span class="item-icon">
                <img src="/themes/custom/devpanel_starshot/images/logo-embed.png">
              </span>
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}

    {# Save application button #}
    {% if startshot_available.isActive and startshot_available.workspaceUrl is empty %}
    <div class="drupal-available save-app-wrapper">
      <div class="drupal-logo"></div>
      <div class="drupal-info">
        <div class="info-item">
          <div class="btn-wrapper-save mt-0">
            <button type="button" href="/submission/{{ startshot_available.submission_id }}/save-app" class="_btn" id="btn-save-app">
              SAVE APPLICATION
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
</div>
