{%
  set classes = [
    'info',
    startshot_available.vscodeURL ? 'has-vscode',
    startshot_available.workspaceUrl ? 'has-workspace',
  ]
%}

<div class="submission-view grid-full">
  <div class="submission">
    {% if  startshot_available.isActive %}
      {{ drupal_field('field_image', 'node', startshot_available.templateId, 'default') }}
      <h1 class="page-title"> {{ startshot_available.templateTitle }}  is ready
        <div class="expired">
          <span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/ClockFull.png"></span><strong> 6 Hours </strong>
        </div>
        <div class="warning">
          DO NOT CLOSE THIS PAGE
        </div>
      </h1>
      <p>Great news! Your application, {{ startshot_available.templateTitle }} , is ready to use. Please note that these links will expire in:</p>
      <div {{ attributes.addClass(classes) }}>
      
        <div class="info-wrapper">
          <div class="info-head">
            <h4>
            Click to Open</br>
            {{ startshot_available.templateTitle }}
            </h4>
          </div>
          <div class="info-thumnail">
            <img src="/modules/custom/starshot_core/assets/images/application.jpg">
          </div>
          <div class="info-item">
            <span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Link.png"><strong>Application URL</strong></span><a href="{{ startshot_available.applicationURL }}" target="_blank"> Click here</a>
          </div>
          {% if startshot_available.username and startshot_available.password  %}
            <div class="info-item">
              <span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Link.png"><strong>Login URL </strong></span><a href="{{ startshot_available.loginUrl }}" target="_blank">Click here</a>
            </div>
          {% endif %}
          {% if startshot_available.username %}
            <div class="info-item">
              <span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Person.png"><strong>User name </strong></span>
              <div class="inline-item inline-username ">
                <input type="text" value="{{ startshot_available.username }}"/>
                <span class="copy-username">
                  <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="copy" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M832 64H296c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h496v688c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8V96c0-17.7-14.3-32-32-32zM704 192H192c-17.7 0-32 14.3-32 32v530.7c0 8.5 3.4 16.6 9.4 22.6l173.3 173.3c2.2 2.2 4.7 4 7.4 5.5v1.9h4.2c3.5 1.3 7.2 2 11 2H704c17.7 0 32-14.3 32-32V224c0-17.7-14.3-32-32-32zM350 856.2L263.9 770H350v86.2zM664 888H414V746c0-22.1-17.9-40-40-40H232V264h432v624z"></path></svg>
                </span>
              </div>
            </div>
          {% endif %}
          {% if startshot_available.password %}
            <div class="info-item">
              <span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Lock.png"><strong>Password </strong></span>
              <div class="inline-item inline-password ">
                <input type="password" value="{{ startshot_available.password }}"/>
                <span class="show-password">
                  <svg viewBox="64 64 896 896" focusable="false" class="svg-icon hide" data-icon="eye" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"></path></svg>
                  <svg viewBox="64 64 896 896" focusable="false" class="svg-icon show" data-icon="eye-invisible" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M942.2 486.2Q889.47 375.11 816.7 305l-50.88 50.88C807.31 395.53 843.45 447.4 874.7 512 791.5 684.2 673.4 766 512 766q-72.67 0-133.87-22.38L323 798.75Q408 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 0 0 0-51.5zm-63.57-320.64L836 122.88a8 8 0 0 0-11.32 0L715.31 232.2Q624.86 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 0 0 0 51.5q56.69 119.4 136.5 191.41L112.48 835a8 8 0 0 0 0 11.31L155.17 889a8 8 0 0 0 11.31 0l712.15-712.12a8 8 0 0 0 0-11.32zM149.3 512C232.6 339.8 350.7 258 512 258c54.54 0 104.13 9.36 149.12 28.39l-70.3 70.3a176 176 0 0 0-238.13 238.13l-83.42 83.42C223.1 637.49 183.3 582.28 149.3 512zm246.7 0a112.11 112.11 0 0 1 146.2-106.69L401.31 546.2A112 112 0 0 1 396 512z"></path><path d="M508 624c-3.46 0-6.87-.16-10.25-.47l-52.82 52.82a176.09 176.09 0 0 0 227.42-227.42l-52.82 52.82c.31 3.38.47 6.79.47 10.25a111.94 111.94 0 0 1-112 112z"></path></svg>  
                </span>
                <span class="copy-password">
                  <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="copy" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M832 64H296c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h496v688c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8V96c0-17.7-14.3-32-32-32zM704 192H192c-17.7 0-32 14.3-32 32v530.7c0 8.5 3.4 16.6 9.4 22.6l173.3 173.3c2.2 2.2 4.7 4 7.4 5.5v1.9h4.2c3.5 1.3 7.2 2 11 2H704c17.7 0 32-14.3 32-32V224c0-17.7-14.3-32-32-32zM350 856.2L263.9 770H350v86.2zM664 888H414V746c0-22.1-17.9-40-40-40H232V264h432v624z"></path></svg>
                </span>
              </div>
            </div>
          {% endif %}
          <div class="info-bottom">
            <p> This is your sandbox application - Use it for demos, development, testing, and as your personal playground </p>
          </div>
        </div>

        {% if startshot_available.vscodeURL %}
        <div class="info-wrapper">
          <div class="info-head">
            <h4>
            Click to Open</br>
            VS Code (Cloud IDE)
            </h4>
          </div>
          <div class="info-thumnail">
            <img src="/modules/custom/starshot_core/assets/images/vs-code.jpg">
          </div>
          <div class="info-item">
            <span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Link.png"><strong>VS Code URL </strong></span><a href="{{ startshot_available.vscodeURL }}" target="_blank"> Click here</a>
          </div>
          {% if startshot_available.vscodePassword %}
            <div class="info-item">
              <span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Lock.png"><strong>Password </strong></span>
              <div class="inline-item inline-password ">
                <input type="password" value="{{ startshot_available.vscodePassword }}"/>
                <span class="show-password">
                  <svg viewBox="64 64 896 896" focusable="false" class="svg-icon hide" data-icon="eye" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"></path></svg>
                  <svg viewBox="64 64 896 896" focusable="false" class="svg-icon show" data-icon="eye-invisible" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M942.2 486.2Q889.47 375.11 816.7 305l-50.88 50.88C807.31 395.53 843.45 447.4 874.7 512 791.5 684.2 673.4 766 512 766q-72.67 0-133.87-22.38L323 798.75Q408 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 0 0 0-51.5zm-63.57-320.64L836 122.88a8 8 0 0 0-11.32 0L715.31 232.2Q624.86 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 0 0 0 51.5q56.69 119.4 136.5 191.41L112.48 835a8 8 0 0 0 0 11.31L155.17 889a8 8 0 0 0 11.31 0l712.15-712.12a8 8 0 0 0 0-11.32zM149.3 512C232.6 339.8 350.7 258 512 258c54.54 0 104.13 9.36 149.12 28.39l-70.3 70.3a176 176 0 0 0-238.13 238.13l-83.42 83.42C223.1 637.49 183.3 582.28 149.3 512zm246.7 0a112.11 112.11 0 0 1 146.2-106.69L401.31 546.2A112 112 0 0 1 396 512z"></path><path d="M508 624c-3.46 0-6.87-.16-10.25-.47l-52.82 52.82a176.09 176.09 0 0 0 227.42-227.42l-52.82 52.82c.31 3.38.47 6.79.47 10.25a111.94 111.94 0 0 1-112 112z"></path></svg>  
                </span>
                <span class="copy-password">
                  <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="copy" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M832 64H296c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h496v688c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8V96c0-17.7-14.3-32-32-32zM704 192H192c-17.7 0-32 14.3-32 32v530.7c0 8.5 3.4 16.6 9.4 22.6l173.3 173.3c2.2 2.2 4.7 4 7.4 5.5v1.9h4.2c3.5 1.3 7.2 2 11 2H704c17.7 0 32-14.3 32-32V224c0-17.7-14.3-32-32-32zM350 856.2L263.9 770H350v86.2zM664 888H414V746c0-22.1-17.9-40-40-40H232V264h432v624z"></path></svg>
                </span>
              </div>
            </div>
          {% endif %}
       
          <div class="info-bottom">
            <p> Use this to code, access the database, work with Drush, Composer, etc. </p>
          </div>
       
        </div>
        {% endif %}
        {% if  startshot_available.workspaceUrl %}
        <div class="info-wrapper">
           <div class="info-head">
            <h4>
            Click to Open</br>
            DevPanel (Dashboard)
            </h4>
          </div>
          <div class="info-thumnail">
            <img src="/modules/custom/starshot_core/assets/images/workspace.jpg">
          </div>
          <div class="info-item">
            <span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Link.png"><strong>Workspace URL </strong></span><a href="{{ startshot_available.workspaceUrl }}" target="_blank"> Click here</a>
          </div>
          <div class="info-bottom">
            <p> Use this extent the 6-hour limit, pause/un-pause application, invite other developers, backup, download, detete, etc.</p>
          </div>
        </div>
        {% endif %}
     
      </div>
      <h4 class="inline-message"></h4>

    {% else %}
      <div class="waiting-app-ready" data-application-submission="/submission/{{ startshot_available.submission_id }}/status?applicationURL={{ startshot_available.applicationURL }}">
        <div class="progress-bar-view">
          <div class="color"></div>
        </div>
        {% if  startshot_available.workspaceUrl %}
          <div class="info-item">
          <p> This can take up to 5 minutes<br>
            <span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Link.png">Check the application progress</span><strong><a href="{{ startshot_available.workspaceUrl }}" target="_blank"> here</a></strong>
          </p>
        </div>
        {% else %}
        <div class="info-item">
          <p>This can take up to 5 minutes.<br>
          Please stay on this page while we are building your site
          </p>
        </div>
        {% endif %}
    
 
      </div>
    {% endif %}
  </div>

</div>
