<div class="trial-form">
  <div class="grid-full grid-column-2">
    {% if  isDrupalEasy %}
      <div class="grid-column-item one-item">
        <div style="align-items:center;display:flex;flex-direction:column;gap:12px;justify-content:flex-start;">
          <img loading="lazy" src="/themes/custom/devpanel_starshot/images/node/icon_1.png" alt="rocket" data-no-retina="">
            <div style="color:#2F2F2F;font-family:Ubuntu;font-size:24px;font-weight:500;">
                For students
            </div>
        </div>
        <div class="colum-content">
          <p><span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Cloud.png"></span>Application + cloud dev environment.</p>
          <p><span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Calendar.png"></span>For 6+ hours. Can be extended.</p>
          <p><span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Team.png"></span>Pause, return, unpause, develop, collaborate.</p>
          <p><span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Login.png"></span>Registration required.</p>
          <p><span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Team.png"></span>Completely free.</p>
          <p style="text-align:center"> <a href="/form/subscription?template={{ node_id }}" class="btn-wrapper"><span class="_btn">Launch</span></a></p>
        </div>
      </div>
    {% else  %}

      <div class="grid-column-item">
        <div style="align-items:center;display:flex;flex-direction:column;gap:12px;justify-content:flex-start;">
          <img loading="lazy" src="/themes/custom/devpanel_starshot/images/node/icon.png" alt="rocket" data-no-retina="">
          <div style="color:#2F2F2F;font-family:Ubuntu;font-size:24px;font-weight:500;">
                For Site Builders
            </div>
        </div>
        <div class="colum-content">
          <p><span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Computer.png"></span>Fully functional application.</p>
          <p><span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Clock.png"></span>Yours for 6 hours. Deletes automatically.</p>
          <p><span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Link.png"></span>Shareable URL. Collaborate with others.</p>
          <p><span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Login.png"></span>No registration required.</p>
          <p><span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Team.png"></span>Completely free.</p>
          <p>
            {{ form }}
          </p>
        </div>
      </div>
      <div class="grid-column-item">
        <div style="align-items:center;display:flex;flex-direction:column;gap:12px;justify-content:flex-start;">
          <img loading="lazy" src="/themes/custom/devpanel_starshot/images/node/icon_1.png" alt="rocket" data-no-retina="">
            <div style="color:#2F2F2F;font-family:Ubuntu;font-size:24px;font-weight:500;">
                For Developers
            </div>
        </div>
        <div class="colum-content">
          <p><span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Cloud.png"></span>Application + cloud dev environment.</p>
          <p><span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Calendar.png"></span>For 6+ hours. Can be extended.</p>
          <p><span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Team.png"></span>Pause, return, unpause, develop, collaborate.</p>
          <p><span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Login.png"></span>Registration required.</p>
          <p><span class="item-icon"><img src="/themes/custom/devpanel_starshot/images/icons/Team.png"></span>Completely free.</p>
          <p style="text-align:center"> <a href="/form/subscription?template={{ node_id }}" class="btn-wrapper"><span class="_btn">Launch</span></a></p>
        </div>
      </div>

    {% endif %}
</div>
</div>
