{#
/**
 * @file
 * Claro's theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.pre_content: Items for the pre-content region.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.highlighted: Items for the highlighted region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set page_title_block = active_admin_theme ~ '_page_title' %}
{% set local_actions_block = active_admin_theme ~ '_local_actions' %}


<div class="layout-container">
  {{ page.pre_content }}
  <main class="page-content clearfix" role="main">
    <div class="box-layout">

      <div class="page-layout">
        <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
        <header class="page-header">
          <nav class="navbar navbar-expand-lg header-light">
            <div class="container">
              <div class="me-auto">
                <a class="navbar-brand" href="/">
                <object type="image/svg+xml" data="/themes/custom/devpanel_starshot/logo.svg"></object>

                </a>
              </div>
              <div class="col-auto menu-order position-static">
                <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="#navbarNav-clone" aria-label="Toggle navigation" data-target="#navbarNav-clone">
                  <span class="navbar-toggler-line"></span>
                  <span class="navbar-toggler-line"></span>
                  <span class="navbar-toggler-line"></span>
                  <span class="navbar-toggler-line"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                  {{ page.primary_menu }}
                </div>
              </div>
            </div>
          </nav>
          {{ page.highlighted }}
        </header>
        <div class="container">
          <div class="region-sticky-watcher"></div>

          {% if page.help %}
            <div class="help">
              {{ page.help }}
            </div>
          {% endif %}
          {% block region_sticky %}
            <header class="region region-sticky">
              <div class="layout-container region-sticky__items">
                <div class="region-sticky__items__inner">
                  <div class="layout-container">
                    {{ page.gin_secondary_toolbar }}
                  </div>
                  {{ page.header[page_title_block] }}
                  {{ page.content[local_actions_block] }}
                </div>
              </div>
            </header>
          {% endblock %}
          <div class="sticky-shadow"></div>

          <div class="content-header clearfix">
            <div class="layout-container">
              {{ page.header|without(page_title_block) }}
            </div>
          </div>
        </div>
        <div class="container container-main clearfix">
          {% if page.sidebar_first %}
            <div class="main-content has-sidebar">
          {% else %}
            <div class="main-content">
          {% endif %}
            {% block content %}
              {{ page.content|without(local_actions_block) }}
            {% endblock %}
          </div>
          {% if page.sidebar_first %}
            <div class="sidebar-right page-sidebar-custom">
              {{ page.sidebar_first }}
            </div>
          {% endif %}
        </div>

      </div>
      <footer class="p-3 fs-16 border-top border-color-extra-medium-gray">
        <div class="container">
          <div class="row justify-content-center pt-6 sm-pt-40px">
            <div class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-12">
              <a href="/" class="mb-40px d-inline-block"><img src="{{ path_to_theme }}/images/logo-footer.png" data-at2x="{{ path_to_theme }}/images/logo-footer.png" alt=""></a>
              <div class="d-inline-block w-100 newsletter-style-02 position-relative">
                <form action="/email-templates/subscribe-newsletter.php" method="post" class="position-relative">
                  <input class="border-color-extra-medium-gray bg-transparent border-radius-4px w-100 form-control input-small fs-15 pe-50px required" type="email" name="email" placeholder="Sign up for our mailing list">
                  <input type="hidden" name="redirect" value="">
                  <button class="btn pe-20px submit lh-16" aria-label="submit">Subcribe</button>
                  <div class="form-results border-radius-4px pt-5px pb-5px ps-15px pe-15px fs-14 lh-22 mt-10px w-100 text-center position-absolute d-none"></div>
                </form>
              </div>

            </div>
            <div class="col-6 col-xl-3  offset-xl-1 col-lg-3 col-md-3 col-sm-6">
              <ul>
                <li><a href="/">Home</a></li>
                <li>
                  <a href="/faq">FAQ</a>
                  <div class="d-none bg-dark-gray fw-600 text-white lh-22 text-uppercase border-radius-30px ps-10px pe-10px fs-10 ms-10px d-inline-block align-middle">Hot</div>
                </li>
                <li><a href="/how">How To</a></li>
                <li><a href="https://tidycal.com/drupalforge" target="_blank">Contact</a></li>
              </ul>
            </div>
            <div class="col-6 col-xl-4 col-lg-3 col-md-3 col-sm-6">
              <ul>
                <li><a href="/terms-and-conditions">Terms of Service</a></li>
                <li><a href="/acceptable-use-policy">Acceptable Use Policy</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/cookie-policy">Cookie Policy</a></li>
                <li><a href="https://www.drupal.org/dcoc">Code of Conduct</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-12">
              <p class="">© 2024 DrupalForge.org - A Free Platform by OPS Association, a Colorado 501(c)(3) Nonprofit</p>
              <p class="powered">Drupal Forge is powered by <a href="https://www.drupal.org/" target="_blank">Drupal</a> and <a href="https://www.devpanel.com/" target="_blank">DevPanel</a></p>
            </div>
          </div>
        </div>
      </footer>
      <div class="scroll-progress d-none d-xxl-block">
        <a href="/#" class="scroll-top" aria-label="scroll">
        <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point" style="height: 1.26081%;"></span></span>
        </a>
      </div>
    </div>

  </main>
</div>
