{% if form.notice %}
    {{ form.notice }}
{% else %}
  <div class="stripe-payment-form">
    <ul class="nav" id="period-tab" role="tablist">
      {% for period,period_name in  form.period['#options'] %}
      <li class="nav-item {% if period == form['#period']%} active {% endif %}" role="presentation">
        <label class="form-check-label" for="edit-period-{{ period }}">        
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-pane-{{ period }}" type="button" role="tab" data-period="{{ period }}">{{ period_name }}</button>
        </label>
        
      </li>
      {% endfor %}
    </ul>
    <div class="tab-content" id="period-tab-content">
      {% for period,period_name in  form.period['#options'] %}
      <div class="tab-pane fade" id="tab-pane-{{ period }}" role="tabpanel" >
        <div class="pricing-table ">
          {% for sub, sub_name in form.subscription['#options']  %}        
            <div class="pricing-card {% if form['#subscription'] == sub %} active {% endif %}">
              {% set sub_name = sub_name|split('/') %}
              <div class="name">{{ form['#application'].project.name }} - ID {{ form['#application']._id }} - {{ sub_name[0] }}</div>
              <div class="flex-child">
                <div class="pricing">
                    {% set price_name = sub_name[1]|split(' ') %}

                    <span><div class="amount">{{ price_name[0] }}</div> {{ price_name[1] }} {{ price_name[2] }}</span>
                </div>
                <div class="select-card" data-sub="{{ sub }}">
                  <svg aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="⚙   ase asf asg as15 as8 as2m as2n ⚙1pgx1lh"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.28 5.22a.75.75 0 0 1 0 1.06l-4.75 4.75a.75.75 0 0 1-1.06 0l-2.5-2.5a.75.75 0 0 1 1.06-1.06L7 9.44l4.22-4.22a.75.75 0 0 1 1.06 0Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M8 14.5A6.5 6.5 0 0 0 14.5 8c0-3.592-2.9-6.5-6.5-6.5A6.5 6.5 0 0 0 1.5 8 6.5 6.5 0 0 0 8 14.5ZM8 16a8 8 0 0 0 8-8c0-4.419-3.57-8-8-8a8 8 0 0 0-8 8 8 8 0 0 0 8 8Z"></path></svg>
                  <span>Selected</span>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% if form['#amount'] and form['#period'] %}
    <div class="subtotal">
      <div class="subtotal-label">{{ 'Subtotal' | t }}</div>
      <div class="subtotal-value">${{ form['#amount']}} per {{ form['#period']}}</div>
    </div>
    <div class="form-actions">
      {{ form.actions }}
    </div>
    {% endif %}
  </div>
  <div class="display-none">
    {{ form | without('actions', 'help') }}
  </div>
{% endif %}